
auth-service/node_modules/
user-service/node_modules/
notification-service/node_modules/
dashboard-service/node_modules/
frontend/node_modules/

chat-service/chat-service
chat-service/chat-service-bin


dist/
build/
frontend/dist/


**/coverage/
chat-service/coverage.out


.env*
.env
.env.example


.DS_Store
Thumbs.db


.vscode/
.idea/
*.suo
*.sw?

